/******************************/
/*****                    *****/
/*****                   ******/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****              ***********/
/*****             ************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/******************************/

/** This Place For Variable Theme **/
$something:                   	tomato !default;
$theme-prefix:				  	motodigi !default;
/*******************************/

/** COLORS **/
$theme-red:						#c82d28;
$theme-red-separator:			#952f2b;
$theme-blue:					#274b85;
/*******************************/

/** FONT **/
$theme-font:					monospace !default;
/*******************************/