/******************************/
/*****                    *****/
/*****                   ******/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****              ***********/
/*****             ************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/******************************/

/************* Enem Project Name **************/
$enem_project_name:             enem !default;
/**********************************************/

/********* Foundation last style path *********/
$enem_link_last_style:  '../../last_style/' !default;
/**********************************************/

/********* Fancybox Path Image Support ***********/
$enem_fancybox_path_image:      '../bower_components/fancybox/source' !default;
/**************************************************/

/*************** Enem Flex Box ****************/
$enem_flex_ul: false !default;
$enem_flex_center: false !default;
/*************************************************/

/************** Enem Prefix **************/
$enem_prefix:                   enem_#{$enem_project_name}_ !default;

/** For new enem_apps **/
/** 
 * This variable prefix use for new enem_apps
 **/
$enem_prefix_el:                enem !default;
//$enem_prefix_el:                enem-#{$enem_project_name}- !default;
/****************************/

/*********************************************/

/** Font Setting And Gap Global **/
$enem_path_font:                  '../fonts/' !default; // Get Path Font
$enem_font_family_default:        'Roboto', sans-serif !default;
$enem_font_size_default:          15px;
//$enem_font_family_default: "Segoe UI","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif !default;
/*************************************/

/********** For Media Queries *********/
/** For Extra Small Screen / Phone **/
$enem_screen_xs:            480px !default;
$enem_screen_xs_min:        $enem_screen_xs !default;
$enem_screen_phone:         $enem_screen_xs_min !default;

/** For Small Screen / Tablet **/
$enem_screen_sm:            768px !default;
$enem_screen_sm_min:        $enem_screen_sm !default;
$enem_screen_tablet:        $enem_screen_sm_min !default;

/** For Medium Screen / Desktop **/
$enem_screen_md:            992px !default;
$enem_screen_md_min:        $enem_screen_md !default;
$enem_screen_medium:        $enem_screen_md_min !default;

/** For Large Screen / Wide Desktop **/
$enem_screen_lg:            1200px !default;
$enem_screen_lg_min:        $enem_screen_lg !default;
$enem_screen_large:         $enem_screen_lg_min !default;

/** For Screen Max **/
$enem_screen_xs_max:              ($enem_screen_sm_min - 1) !default;
$enem_screen_sm_max:              ($enem_screen_md_min - 1) !default;
$enem_screen_md_max:              ($enem_screen_lg_min - 1) !default;
/**************************************/

/************** Theme Color **************/
/* Here >>>>>
/*********************************************/

/************** COLOR and FONT ************/
$main_blue:                         #365D98;
$white:                             white;
$red:                               #EF5350;
$green:                             #26A69A;
$blue:                              #42A5F5;
$green_icon_box:                    #1BBC9B;
$red_icon_box:                      #F3565D;
$blue_icon_box:                     #89C4F4;
$grey_icon_box:                     #C6C6C6;
$gold_icon_box:                     #DEB743;
$green_soft_icon_box:               #47B6AE;
$purple_icon_box:                   #BD0DBD;

$panel_color:                           #F9F9F9;
$panel_border_color:                    #D9D9D9;
$font_color_header:                     #9AAECC;
$font_header:                           1.5em;
$menu_active_or_hover_background:       rgba(66, 165, 245, 0.1);
$menu_active_or_hover_font_color:       rgb(66, 165, 245);

$enem_red:                          #F44336;
$enem_pink:                         #E91E63;
$enem_purple:                       #9C27B0;
$enem_deep_purple:                  #673AB7;
$enem_indigo:                       #3F51B5;
$enem_blue:                         #2196F3;
$enem_blue_info:                    #0091EA;
$enem_light_blue:                   #03A9F4;
$enem_cyan:                         #00BCD4;
$enem_teal:                         #009688;
$enem_green:                        #4CAF50;
$enem_green_success:                #00C853;
$enem_light_green:                  #8BC34A;
$enem_lime:                         #CDDC39;
$enem_yellow:                       #FFEB3B;
$enem_amber:                        #FFC107;
$enem_amber_warning:                #FFAB00;
$enem_orange:                       #FF9800;
$enem_deep_orange:                  #FF5722;
$enem_brown:                        #795548;
$enem_grey:                         #9E9E9E;
$enem_blue_grey:                    #607D8B;
$enem_navbar_color:                 #00bfbf;
$enem_sidebar_color:                #38c1c1;
$enem_body_color:                   #e9ebee;
$enem_border_color:                 #e1e2e3;
$enem_panel_txt_color:              $enem_navbar_color;

$enem_container_profile_side:       #ff8d78;
$enem_logo_link_hover_color:        #ffeb3b;
$enem_sidebar_hover_color:          darken($enem_sidebar_color, 10%);
$enem_btn_account_active_color:     #06b1b1;

$enem_btn_default_color:            $enem_grey;
$enem_btn_primary_color:            $enem_navbar_color;
$enem_btn_success_color:            $enem_green_success;
$enem_btn_info_color:               $enem_blue_info;
$enem_btn_warning_color:            $enem_amber_warning;
$enem_btn_danger_color:             $enem_red;
$enem_btn_border_color:             rgba(0,0,0,0.08);
/*********************************/

/************** Radius ***********/
$radius_all:3px;
$radius_top:3px 0px;
$radius_bottom: 0px 3px;
$radius_none:0px;
/*********************************/

/************** FLOAT ************/
$float_left:left;
$float_right:right;
/*********************************/

/************** MARGIN or PADDING ***********/
$margin_or_padding_none: 0px;
$padding_for_grid:0 20px;
/*********************************/

/************* BOX SHADOW ***************/
$shadow_color:rgba(0,0,0,0.5);
$shadow:2px 2px 5px;
/*****************************************/

/************* FOR ARROW *****************/
$border_arrow: 15px;
$color_arrow:$panel_color;
/*****************************************/

/********** FOR PREFIX BROWSER ***********/
$webkit: -webkit-;
$moz: -moz-;
$ms: -ms-;
/*****************************************/

/******** This for Enem Burger ********/
/** Enem Burger Component Default **/
$enem_burger_add_vendor_prefixes: true !default;
$enem_burger_width:         20px !default;
//$enem_burger_height:        2px !default;
$enem_burger_height:        3px !default;
//$enem_burger_gap:           3px !default;
$enem_burger_gap:           5px !default;
//$enem_burger_color:         #000 !default;
$enem_burger_color:         #fff !default;
$enem_border_radius:        0 !default;
$enem_transition_duration:  .3s !default;
$enem_component_burger:     ($enem_burger_width, $enem_burger_height, $enem_burger_gap, $enem_burger_color, $enem_border_radius, $enem_transition_duration);
/**************************************/